<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mokatest.platform.demos.api.mapper.GlobalVarMapper">

    <sql id="Base_Column_List">
        id
        ,team_id,type,description,name,value,
        global_assert,disabled
    </sql>
</mapper>
